In [39]:
import pandas as pd
var=pd.read_csv("customer_shopping_behavior.csv")

In [40]:
var.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [41]:
var.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [42]:
var.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [43]:
var.describe(include='all')
#it gives a summary of categorial columns and numeriscal columns

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [44]:
var.isnull().sum()
#to check the null values in file

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [46]:
var['Review Rating']=var.groupby('Category')['Review Rating'].transform(lambda x:x.fillna(x.median()))

In [48]:
var.isnull().sum()
print(var)

      Customer ID  Age  Gender Item Purchased     Category  \
0               1   55    Male         Blouse     Clothing
1               2   19    Male        Sweater     Clothing
2               3   50    Male          Jeans     Clothing
3               4   21    Male        Sandals     Footwear
4               5   45    Male         Blouse     Clothing
...           ...  ...     ...            ...          ...
3895         3896   40  Female         Hoodie     Clothing
3896         3897   52  Female       Backpack  Accessories
3897         3898   46  Female           Belt  Accessories
3898         3899   44  Female          Shoes     Footwear
3899         3900   52  Female        Handbag  Accessories

      Purchase Amount (USD)       Location Size      Color  Season  \
0                        53       Kentucky    L       Gray  Winter
1                        64          Maine    L     Maroon  Winter
2                        73  Massachusetts    S     Maroon  Spring
3                        90   Rhode Island    M     Maroon  Spring
4                        49         Oregon    M  Turquoise  Spring
...                     ...            ...  ...        ...     ...
3895                     28       Virginia    L  Turquoise  Summer
3896                     49           Iowa    L      White  Spring
3897                     33     New Jersey    L      Green  Spring
3898                     77      Minnesota    S      Brown  Summer
3899                     81     California    M      Beige  Spring

      Review Rating Subscription Status   Shipping Type Discount Applied  \
0               3.1                 Yes         Express              Yes
1               3.1                 Yes         Express              Yes
2               3.1                 Yes   Free Shipping              Yes
3               3.5                 Yes    Next Day Air              Yes
4               2.7                 Yes   Free Shipping              Yes
...             ...                 ...             ...              ...
3895            4.2                  No  2-Day Shipping               No
3896            4.5                  No    Store Pickup               No
3897            2.9                  No        Standard               No
3898            3.8                  No         Express               No
3899            3.1                  No    Store Pickup               No

     Promo Code Used  Previous Purchases Payment Method Frequency of Purchases
0                Yes                  14          Venmo            Fortnightly
1                Yes                   2           Cash            Fortnightly
2                Yes                  23    Credit Card                 Weekly
3                Yes                  49         PayPal                 Weekly
4                Yes                  31         PayPal               Annually
...              ...                 ...            ...                    ...
3895              No                  32          Venmo                 Weekly
3896              No                  41  Bank Transfer              Bi-Weekly
3897              No                  24          Venmo              Quarterly
3898              No                  24          Venmo                 Weekly
3899              No                  33          Venmo              Quarterly

[3900 rows x 18 columns]

In [50]:
var.columns=var.columns.str.lower()
var.columns=var.columns.str.replace(' ','_')
print(var)

      customer_id  age  gender item_purchased     category  \
0               1   55    Male         Blouse     Clothing
1               2   19    Male        Sweater     Clothing
2               3   50    Male          Jeans     Clothing
3               4   21    Male        Sandals     Footwear
4               5   45    Male         Blouse     Clothing
...           ...  ...     ...            ...          ...
3895         3896   40  Female         Hoodie     Clothing
3896         3897   52  Female       Backpack  Accessories
3897         3898   46  Female           Belt  Accessories
3898         3899   44  Female          Shoes     Footwear
3899         3900   52  Female        Handbag  Accessories

      purchase_amount_(usd)       location size      color  season  \
0                        53       Kentucky    L       Gray  Winter
1                        64          Maine    L     Maroon  Winter
2                        73  Massachusetts    S     Maroon  Spring
3                        90   Rhode Island    M     Maroon  Spring
4                        49         Oregon    M  Turquoise  Spring
...                     ...            ...  ...        ...     ...
3895                     28       Virginia    L  Turquoise  Summer
3896                     49           Iowa    L      White  Spring
3897                     33     New Jersey    L      Green  Spring
3898                     77      Minnesota    S      Brown  Summer
3899                     81     California    M      Beige  Spring

      review_rating subscription_status   shipping_type discount_applied  \
0               3.1                 Yes         Express              Yes
1               3.1                 Yes         Express              Yes
2               3.1                 Yes   Free Shipping              Yes
3               3.5                 Yes    Next Day Air              Yes
4               2.7                 Yes   Free Shipping              Yes
...             ...                 ...             ...              ...
3895            4.2                  No  2-Day Shipping               No
3896            4.5                  No    Store Pickup               No
3897            2.9                  No        Standard               No
3898            3.8                  No         Express               No
3899            3.1                  No    Store Pickup               No

     promo_code_used  previous_purchases payment_method frequency_of_purchases
0                Yes                  14          Venmo            Fortnightly
1                Yes                   2           Cash            Fortnightly
2                Yes                  23    Credit Card                 Weekly
3                Yes                  49         PayPal                 Weekly
4                Yes                  31         PayPal               Annually
...              ...                 ...            ...                    ...
3895              No                  32          Venmo                 Weekly
3896              No                  41  Bank Transfer              Bi-Weekly
3897              No                  24          Venmo              Quarterly
3898              No                  24          Venmo                 Weekly
3899              No                  33          Venmo              Quarterly

[3900 rows x 18 columns]

In [53]:
var.info()
print(var)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             3900 non-null   int64
 1   age                     3900 non-null   int64
 2   gender                  3900 non-null   object
 3   item_purchased          3900 non-null   object
 4   category                3900 non-null   object
 5   purchase_amount_(usd)   3900 non-null   int64
 6   location                3900 non-null   object
 7   size                    3900 non-null   object
 8   color                   3900 non-null   object
 9   season                  3900 non-null   object
 10  review_rating           3900 non-null   float64
 11  subscription_status     3900 non-null   object
 12  shipping_type           3900 non-null   object
 13  discount_applied        3900 non-null   object
 14  promo_code_used         3900 non-null   object
 15  previous_purchases      3900 non-null   int64
 16  payment_method          3900 non-null   object
 17  frequency_of_purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB
      customer_id  age  gender item_purchased     category  \
0               1   55    Male         Blouse     Clothing
1               2   19    Male        Sweater     Clothing
2               3   50    Male          Jeans     Clothing
3               4   21    Male        Sandals     Footwear
4               5   45    Male         Blouse     Clothing
...           ...  ...     ...            ...          ...
3895         3896   40  Female         Hoodie     Clothing
3896         3897   52  Female       Backpack  Accessories
3897         3898   46  Female           Belt  Accessories
3898         3899   44  Female          Shoes     Footwear
3899         3900   52  Female        Handbag  Accessories

      purchase_amount_(usd)       location size      color  season  \
0                        53       Kentucky    L       Gray  Winter
1                        64          Maine    L     Maroon  Winter
2                        73  Massachusetts    S     Maroon  Spring
3                        90   Rhode Island    M     Maroon  Spring
4                        49         Oregon    M  Turquoise  Spring
...                     ...            ...  ...        ...     ...
3895                     28       Virginia    L  Turquoise  Summer
3896                     49           Iowa    L      White  Spring
3897                     33     New Jersey    L      Green  Spring
3898                     77      Minnesota    S      Brown  Summer
3899                     81     California    M      Beige  Spring

      review_rating subscription_status   shipping_type discount_applied  \
0               3.1                 Yes         Express              Yes
1               3.1                 Yes         Express              Yes
2               3.1                 Yes   Free Shipping              Yes
3               3.5                 Yes    Next Day Air              Yes
4               2.7                 Yes   Free Shipping              Yes
...             ...                 ...             ...              ...
3895            4.2                  No  2-Day Shipping               No
3896            4.5                  No    Store Pickup               No
3897            2.9                  No        Standard               No
3898            3.8                  No         Express               No
3899            3.1                  No    Store Pickup               No

     promo_code_used  previous_purchases payment_method frequency_of_purchases
0                Yes                  14          Venmo            Fortnightly
1                Yes                   2           Cash            Fortnightly
2                Yes                  23    Credit Card                 Weekly
3                Yes                  49         PayPal                 Weekly
4                Yes                  31         PayPal               Annually
...              ...                 ...            ...                    ...
3895              No                  32          Venmo                 Weekly
3896              No                  41  Bank Transfer              Bi-Weekly
3897              No                  24          Venmo              Quarterly
3898              No                  24          Venmo                 Weekly
3899              No                  33          Venmo              Quarterly

[3900 rows x 18 columns]

In [54]:
var=var.rename(columns={'purchase_amount_(usd)':'purchase_amount'})
print(var)

      customer_id  age  gender item_purchased     category  purchase_amount  \
0               1   55    Male         Blouse     Clothing               53
1               2   19    Male        Sweater     Clothing               64
2               3   50    Male          Jeans     Clothing               73
3               4   21    Male        Sandals     Footwear               90
4               5   45    Male         Blouse     Clothing               49
...           ...  ...     ...            ...          ...              ...
3895         3896   40  Female         Hoodie     Clothing               28
3896         3897   52  Female       Backpack  Accessories               49
3897         3898   46  Female           Belt  Accessories               33
3898         3899   44  Female          Shoes     Footwear               77
3899         3900   52  Female        Handbag  Accessories               81

           location size      color  season  review_rating  \
0          Kentucky    L       Gray  Winter            3.1
1             Maine    L     Maroon  Winter            3.1
2     Massachusetts    S     Maroon  Spring            3.1
3      Rhode Island    M     Maroon  Spring            3.5
4            Oregon    M  Turquoise  Spring            2.7
...             ...  ...        ...     ...            ...
3895       Virginia    L  Turquoise  Summer            4.2
3896           Iowa    L      White  Spring            4.5
3897     New Jersey    L      Green  Spring            2.9
3898      Minnesota    S      Brown  Summer            3.8
3899     California    M      Beige  Spring            3.1

     subscription_status   shipping_type discount_applied promo_code_used  \
0                    Yes         Express              Yes             Yes
1                    Yes         Express              Yes             Yes
2                    Yes   Free Shipping              Yes             Yes
3                    Yes    Next Day Air              Yes             Yes
4                    Yes   Free Shipping              Yes             Yes
...                  ...             ...              ...             ...
3895                  No  2-Day Shipping               No              No
3896                  No    Store Pickup               No              No
3897                  No        Standard               No              No
3898                  No         Express               No              No
3899                  No    Store Pickup               No              No

      previous_purchases payment_method frequency_of_purchases
0                     14          Venmo            Fortnightly
1                      2           Cash            Fortnightly
2                     23    Credit Card                 Weekly
3                     49         PayPal                 Weekly
4                     31         PayPal               Annually
...                  ...            ...                    ...
3895                  32          Venmo                 Weekly
3896                  41  Bank Transfer              Bi-Weekly
3897                  24          Venmo              Quarterly
3898                  24          Venmo                 Weekly
3899                  33          Venmo              Quarterly

[3900 rows x 18 columns]

In [55]:
var.info()
print(var)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             3900 non-null   int64
 1   age                     3900 non-null   int64
 2   gender                  3900 non-null   object
 3   item_purchased          3900 non-null   object
 4   category                3900 non-null   object
 5   purchase_amount         3900 non-null   int64
 6   location                3900 non-null   object
 7   size                    3900 non-null   object
 8   color                   3900 non-null   object
 9   season                  3900 non-null   object
 10  review_rating           3900 non-null   float64
 11  subscription_status     3900 non-null   object
 12  shipping_type           3900 non-null   object
 13  discount_applied        3900 non-null   object
 14  promo_code_used         3900 non-null   object
 15  previous_purchases      3900 non-null   int64
 16  payment_method          3900 non-null   object
 17  frequency_of_purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB
      customer_id  age  gender item_purchased     category  purchase_amount  \
0               1   55    Male         Blouse     Clothing               53
1               2   19    Male        Sweater     Clothing               64
2               3   50    Male          Jeans     Clothing               73
3               4   21    Male        Sandals     Footwear               90
4               5   45    Male         Blouse     Clothing               49
...           ...  ...     ...            ...          ...              ...
3895         3896   40  Female         Hoodie     Clothing               28
3896         3897   52  Female       Backpack  Accessories               49
3897         3898   46  Female           Belt  Accessories               33
3898         3899   44  Female          Shoes     Footwear               77
3899         3900   52  Female        Handbag  Accessories               81

           location size      color  season  review_rating  \
0          Kentucky    L       Gray  Winter            3.1
1             Maine    L     Maroon  Winter            3.1
2     Massachusetts    S     Maroon  Spring            3.1
3      Rhode Island    M     Maroon  Spring            3.5
4            Oregon    M  Turquoise  Spring            2.7
...             ...  ...        ...     ...            ...
3895       Virginia    L  Turquoise  Summer            4.2
3896           Iowa    L      White  Spring            4.5
3897     New Jersey    L      Green  Spring            2.9
3898      Minnesota    S      Brown  Summer            3.8
3899     California    M      Beige  Spring            3.1

     subscription_status   shipping_type discount_applied promo_code_used  \
0                    Yes         Express              Yes             Yes
1                    Yes         Express              Yes             Yes
2                    Yes   Free Shipping              Yes             Yes
3                    Yes    Next Day Air              Yes             Yes
4                    Yes   Free Shipping              Yes             Yes
...                  ...             ...              ...             ...
3895                  No  2-Day Shipping               No              No
3896                  No    Store Pickup               No              No
3897                  No        Standard               No              No
3898                  No         Express               No              No
3899                  No    Store Pickup               No              No

      previous_purchases payment_method frequency_of_purchases
0                     14          Venmo            Fortnightly
1                      2           Cash            Fortnightly
2                     23    Credit Card                 Weekly
3                     49         PayPal                 Weekly
4                     31         PayPal               Annually
...                  ...            ...                    ...
3895                  32          Venmo                 Weekly
3896                  41  Bank Transfer              Bi-Weekly
3897                  24          Venmo              Quarterly
3898                  24          Venmo                 Weekly
3899                  33          Venmo              Quarterly

[3900 rows x 18 columns]

In [56]:
#create a column age_group 
labels=['young','adult','midage','senior']
var['age_group']=pd.qcut(var['age'],q=4,labels=labels)
print(var)

      customer_id  age  gender item_purchased     category  purchase_amount  \
0               1   55    Male         Blouse     Clothing               53
1               2   19    Male        Sweater     Clothing               64
2               3   50    Male          Jeans     Clothing               73
3               4   21    Male        Sandals     Footwear               90
4               5   45    Male         Blouse     Clothing               49
...           ...  ...     ...            ...          ...              ...
3895         3896   40  Female         Hoodie     Clothing               28
3896         3897   52  Female       Backpack  Accessories               49
3897         3898   46  Female           Belt  Accessories               33
3898         3899   44  Female          Shoes     Footwear               77
3899         3900   52  Female        Handbag  Accessories               81

           location size      color  season  review_rating  \
0          Kentucky    L       Gray  Winter            3.1
1             Maine    L     Maroon  Winter            3.1
2     Massachusetts    S     Maroon  Spring            3.1
3      Rhode Island    M     Maroon  Spring            3.5
4            Oregon    M  Turquoise  Spring            2.7
...             ...  ...        ...     ...            ...
3895       Virginia    L  Turquoise  Summer            4.2
3896           Iowa    L      White  Spring            4.5
3897     New Jersey    L      Green  Spring            2.9
3898      Minnesota    S      Brown  Summer            3.8
3899     California    M      Beige  Spring            3.1

     subscription_status   shipping_type discount_applied promo_code_used  \
0                    Yes         Express              Yes             Yes
1                    Yes         Express              Yes             Yes
2                    Yes   Free Shipping              Yes             Yes
3                    Yes    Next Day Air              Yes             Yes
4                    Yes   Free Shipping              Yes             Yes
...                  ...             ...              ...             ...
3895                  No  2-Day Shipping               No              No
3896                  No    Store Pickup               No              No
3897                  No        Standard               No              No
3898                  No         Express               No              No
3899                  No    Store Pickup               No              No

      previous_purchases payment_method frequency_of_purchases age_group
0                     14          Venmo            Fortnightly    midage
1                      2           Cash            Fortnightly     young
2                     23    Credit Card                 Weekly    midage
3                     49         PayPal                 Weekly     young
4                     31         PayPal               Annually    midage
...                  ...            ...                    ...       ...
3895                  32          Venmo                 Weekly     adult
3896                  41  Bank Transfer              Bi-Weekly    midage
3897                  24          Venmo              Quarterly    midage
3898                  24          Venmo                 Weekly     adult
3899                  33          Venmo              Quarterly    midage

[3900 rows x 19 columns]

In [57]:
var[['age','age_group']].head()
print(var)

      customer_id  age  gender item_purchased     category  purchase_amount  \
0               1   55    Male         Blouse     Clothing               53
1               2   19    Male        Sweater     Clothing               64
2               3   50    Male          Jeans     Clothing               73
3               4   21    Male        Sandals     Footwear               90
4               5   45    Male         Blouse     Clothing               49
...           ...  ...     ...            ...          ...              ...
3895         3896   40  Female         Hoodie     Clothing               28
3896         3897   52  Female       Backpack  Accessories               49
3897         3898   46  Female           Belt  Accessories               33
3898         3899   44  Female          Shoes     Footwear               77
3899         3900   52  Female        Handbag  Accessories               81

           location size      color  season  review_rating  \
0          Kentucky    L       Gray  Winter            3.1
1             Maine    L     Maroon  Winter            3.1
2     Massachusetts    S     Maroon  Spring            3.1
3      Rhode Island    M     Maroon  Spring            3.5
4            Oregon    M  Turquoise  Spring            2.7
...             ...  ...        ...     ...            ...
3895       Virginia    L  Turquoise  Summer            4.2
3896           Iowa    L      White  Spring            4.5
3897     New Jersey    L      Green  Spring            2.9
3898      Minnesota    S      Brown  Summer            3.8
3899     California    M      Beige  Spring            3.1

     subscription_status   shipping_type discount_applied promo_code_used  \
0                    Yes         Express              Yes             Yes
1                    Yes         Express              Yes             Yes
2                    Yes   Free Shipping              Yes             Yes
3                    Yes    Next Day Air              Yes             Yes
4                    Yes   Free Shipping              Yes             Yes
...                  ...             ...              ...             ...
3895                  No  2-Day Shipping               No              No
3896                  No    Store Pickup               No              No
3897                  No        Standard               No              No
3898                  No         Express               No              No
3899                  No    Store Pickup               No              No

      previous_purchases payment_method frequency_of_purchases age_group
0                     14          Venmo            Fortnightly    midage
1                      2           Cash            Fortnightly     young
2                     23    Credit Card                 Weekly    midage
3                     49         PayPal                 Weekly     young
4                     31         PayPal               Annually    midage
...                  ...            ...                    ...       ...
3895                  32          Venmo                 Weekly     adult
3896                  41  Bank Transfer              Bi-Weekly    midage
3897                  24          Venmo              Quarterly    midage
3898                  24          Venmo                 Weekly     adult
3899                  33          Venmo              Quarterly    midage

[3900 rows x 19 columns]

In [58]:
#purchase frequence days column

frequency_mapping ={
    'Fortnightly':14,
    'Weekly':7,
    'Monthly':30,
    'Quarterly':90,
    'Bi-Weekly':14,
    'Annually':365,
    'Every 3 Months':90
}

var['purchases_frequency_days']=var['frequency_of_purchases'].map(frequency_mapping)
print(var)

      customer_id  age  gender item_purchased     category  purchase_amount  \
0               1   55    Male         Blouse     Clothing               53
1               2   19    Male        Sweater     Clothing               64
2               3   50    Male          Jeans     Clothing               73
3               4   21    Male        Sandals     Footwear               90
4               5   45    Male         Blouse     Clothing               49
...           ...  ...     ...            ...          ...              ...
3895         3896   40  Female         Hoodie     Clothing               28
3896         3897   52  Female       Backpack  Accessories               49
3897         3898   46  Female           Belt  Accessories               33
3898         3899   44  Female          Shoes     Footwear               77
3899         3900   52  Female        Handbag  Accessories               81

           location size      color  season  review_rating  \
0          Kentucky    L       Gray  Winter            3.1
1             Maine    L     Maroon  Winter            3.1
2     Massachusetts    S     Maroon  Spring            3.1
3      Rhode Island    M     Maroon  Spring            3.5
4            Oregon    M  Turquoise  Spring            2.7
...             ...  ...        ...     ...            ...
3895       Virginia    L  Turquoise  Summer            4.2
3896           Iowa    L      White  Spring            4.5
3897     New Jersey    L      Green  Spring            2.9
3898      Minnesota    S      Brown  Summer            3.8
3899     California    M      Beige  Spring            3.1

     subscription_status   shipping_type discount_applied promo_code_used  \
0                    Yes         Express              Yes             Yes
1                    Yes         Express              Yes             Yes
2                    Yes   Free Shipping              Yes             Yes
3                    Yes    Next Day Air              Yes             Yes
4                    Yes   Free Shipping              Yes             Yes
...                  ...             ...              ...             ...
3895                  No  2-Day Shipping               No              No
3896                  No    Store Pickup               No              No
3897                  No        Standard               No              No
3898                  No         Express               No              No
3899                  No    Store Pickup               No              No

      previous_purchases payment_method frequency_of_purchases age_group  \
0                     14          Venmo            Fortnightly    midage
1                      2           Cash            Fortnightly     young
2                     23    Credit Card                 Weekly    midage
3                     49         PayPal                 Weekly     young
4                     31         PayPal               Annually    midage
...                  ...            ...                    ...       ...
3895                  32          Venmo                 Weekly     adult
3896                  41  Bank Transfer              Bi-Weekly    midage
3897                  24          Venmo              Quarterly    midage
3898                  24          Venmo                 Weekly     adult
3899                  33          Venmo              Quarterly    midage

      purchases_frequency_days
0                           14
1                           14
2                            7
3                            7
4                          365
...                        ...
3895                         7
3896                        14
3897                        90
3898                         7
3899                        90

[3900 rows x 20 columns]

In [59]:
var.info()
print(var)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               3900 non-null   int64
 1   age                       3900 non-null   int64
 2   gender                    3900 non-null   object
 3   item_purchased            3900 non-null   object
 4   category                  3900 non-null   object
 5   purchase_amount           3900 non-null   int64
 6   location                  3900 non-null   object
 7   size                      3900 non-null   object
 8   color                     3900 non-null   object
 9   season                    3900 non-null   object
 10  review_rating             3900 non-null   float64
 11  subscription_status       3900 non-null   object
 12  shipping_type             3900 non-null   object
 13  discount_applied          3900 non-null   object
 14  promo_code_used           3900 non-null   object
 15  previous_purchases        3900 non-null   int64
 16  payment_method            3900 non-null   object
 17  frequency_of_purchases    3900 non-null   object
 18  age_group                 3900 non-null   category
 19  purchases_frequency_days  3900 non-null   int64
dtypes: category(1), float64(1), int64(5), object(13)
memory usage: 583.0+ KB
      customer_id  age  gender item_purchased     category  purchase_amount  \
0               1   55    Male         Blouse     Clothing               53
1               2   19    Male        Sweater     Clothing               64
2               3   50    Male          Jeans     Clothing               73
3               4   21    Male        Sandals     Footwear               90
4               5   45    Male         Blouse     Clothing               49
...           ...  ...     ...            ...          ...              ...
3895         3896   40  Female         Hoodie     Clothing               28
3896         3897   52  Female       Backpack  Accessories               49
3897         3898   46  Female           Belt  Accessories               33
3898         3899   44  Female          Shoes     Footwear               77
3899         3900   52  Female        Handbag  Accessories               81

           location size      color  season  review_rating  \
0          Kentucky    L       Gray  Winter            3.1
1             Maine    L     Maroon  Winter            3.1
2     Massachusetts    S     Maroon  Spring            3.1
3      Rhode Island    M     Maroon  Spring            3.5
4            Oregon    M  Turquoise  Spring            2.7
...             ...  ...        ...     ...            ...
3895       Virginia    L  Turquoise  Summer            4.2
3896           Iowa    L      White  Spring            4.5
3897     New Jersey    L      Green  Spring            2.9
3898      Minnesota    S      Brown  Summer            3.8
3899     California    M      Beige  Spring            3.1

     subscription_status   shipping_type discount_applied promo_code_used  \
0                    Yes         Express              Yes             Yes
1                    Yes         Express              Yes             Yes
2                    Yes   Free Shipping              Yes             Yes
3                    Yes    Next Day Air              Yes             Yes
4                    Yes   Free Shipping              Yes             Yes
...                  ...             ...              ...             ...
3895                  No  2-Day Shipping               No              No
3896                  No    Store Pickup               No              No
3897                  No        Standard               No              No
3898                  No         Express               No              No
3899                  No    Store Pickup               No              No

      previous_purchases payment_method frequency_of_purchases age_group  \
0                     14          Venmo            Fortnightly    midage
1                      2           Cash            Fortnightly     young
2                     23    Credit Card                 Weekly    midage
3                     49         PayPal                 Weekly     young
4                     31         PayPal               Annually    midage
...                  ...            ...                    ...       ...
3895                  32          Venmo                 Weekly     adult
3896                  41  Bank Transfer              Bi-Weekly    midage
3897                  24          Venmo              Quarterly    midage
3898                  24          Venmo                 Weekly     adult
3899                  33          Venmo              Quarterly    midage

      purchases_frequency_days
0                           14
1                           14
2                            7
3                            7
4                          365
...                        ...
3895                         7
3896                        14
3897                        90
3898                         7
3899                        90

[3900 rows x 20 columns]

In [61]:
var[['discount_applied','promo_code_used']].head(3)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes

In [62]:
var=var.drop('promo_code_used',axis=1)
print(var)

      customer_id  age  gender item_purchased     category  purchase_amount  \
0               1   55    Male         Blouse     Clothing               53
1               2   19    Male        Sweater     Clothing               64
2               3   50    Male          Jeans     Clothing               73
3               4   21    Male        Sandals     Footwear               90
4               5   45    Male         Blouse     Clothing               49
...           ...  ...     ...            ...          ...              ...
3895         3896   40  Female         Hoodie     Clothing               28
3896         3897   52  Female       Backpack  Accessories               49
3897         3898   46  Female           Belt  Accessories               33
3898         3899   44  Female          Shoes     Footwear               77
3899         3900   52  Female        Handbag  Accessories               81

           location size      color  season  review_rating  \
0          Kentucky    L       Gray  Winter            3.1
1             Maine    L     Maroon  Winter            3.1
2     Massachusetts    S     Maroon  Spring            3.1
3      Rhode Island    M     Maroon  Spring            3.5
4            Oregon    M  Turquoise  Spring            2.7
...             ...  ...        ...     ...            ...
3895       Virginia    L  Turquoise  Summer            4.2
3896           Iowa    L      White  Spring            4.5
3897     New Jersey    L      Green  Spring            2.9
3898      Minnesota    S      Brown  Summer            3.8
3899     California    M      Beige  Spring            3.1

     subscription_status   shipping_type discount_applied  previous_purchases  \
0                    Yes         Express              Yes                  14
1                    Yes         Express              Yes                   2
2                    Yes   Free Shipping              Yes                  23
3                    Yes    Next Day Air              Yes                  49
4                    Yes   Free Shipping              Yes                  31
...                  ...             ...              ...                 ...
3895                  No  2-Day Shipping               No                  32
3896                  No    Store Pickup               No                  41
3897                  No        Standard               No                  24
3898                  No         Express               No                  24
3899                  No    Store Pickup               No                  33

     payment_method frequency_of_purchases age_group  purchases_frequency_days
0             Venmo            Fortnightly    midage                        14
1              Cash            Fortnightly     young                        14
2       Credit Card                 Weekly    midage                         7
3            PayPal                 Weekly     young                         7
4            PayPal               Annually    midage                       365
...             ...                    ...       ...                       ...
3895          Venmo                 Weekly     adult                         7
3896  Bank Transfer              Bi-Weekly    midage                        14
3897          Venmo              Quarterly    midage                        90
3898          Venmo                 Weekly     adult                         7
3899          Venmo              Quarterly    midage                        90

[3900 rows x 19 columns]

In [63]:
var.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               3900 non-null   int64
 1   age                       3900 non-null   int64
 2   gender                    3900 non-null   object
 3   item_purchased            3900 non-null   object
 4   category                  3900 non-null   object
 5   purchase_amount           3900 non-null   int64
 6   location                  3900 non-null   object
 7   size                      3900 non-null   object
 8   color                     3900 non-null   object
 9   season                    3900 non-null   object
 10  review_rating             3900 non-null   float64
 11  subscription_status       3900 non-null   object
 12  shipping_type             3900 non-null   object
 13  discount_applied          3900 non-null   object
 14  previous_purchases        3900 non-null   int64
 15  payment_method            3900 non-null   object
 16  frequency_of_purchases    3900 non-null   object
 17  age_group                 3900 non-null   category
 18  purchases_frequency_days  3900 non-null   int64
dtypes: category(1), float64(1), int64(5), object(12)
memory usage: 552.6+ KB

In [65]:
var.describe(include='all')

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchases_frequency_days
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900.000000
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,NaN,6,7,4,NaN
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,NaN,PayPal,Every 3 Months,young,NaN
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,NaN,677,584,1028,NaN
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750051,NaN,NaN,NaN,25.351538,NaN,NaN,NaN,89.133077
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.713590,NaN,NaN,NaN,14.447125,NaN,NaN,NaN,119.037566
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,7.000000
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,13.000000,NaN,NaN,NaN,14.000000
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,25.000000,NaN,NaN,NaN,30.000000
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,38.000000,NaN,NaN,NaN,90.000000
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,50.000000,NaN,NaN,NaN,365.000000

In [67]:
var.isnull().sum()

customer_id                 0
age                         0
gender                      0
item_purchased              0
category                    0
purchase_amount             0
location                    0
size                        0
color                       0
season                      0
review_rating               0
subscription_status         0
shipping_type               0
discount_applied            0
previous_purchases          0
payment_method              0
frequency_of_purchases      0
age_group                   0
purchases_frequency_days    0
dtype: int64

In [73]:
from sqlalchemy import create_engine
import urllib.parse

#  USE YOUR ALREADY MODIFIED DATAFRAME (df)

# MySQL connection
password = urllib.parse.quote_plus("Pooja@55")

engine = create_engine(
    f"mysql+mysqlconnector://root:{password}@localhost:3306/map"
)

# Upload modified dataframe
var.to_sql(
    name="customer_modified",
    con=engine,
    if_exists="replace",
    index=False
)

print("Modified Pandas DataFrame uploaded successfully!")

Modified Pandas DataFrame uploaded successfully!